<div class="container">
  <%= link_to 'Create Transactionn', new_transaction_path , class:"btn btn-outline-dark" %>
  <p>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Transactions</th>
        <th scope="col">Amount</th>
        <th scope="col">Wallet</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <% @transactions.each do |transaction| %>
      <tbody>
        <tr>
          <th scope="row"><%= transaction.id %></th>
          <td> <%=transaction.title %></td>
          <td> <%=transaction.amount %></td>
          <td> <%=transaction.wallet.title %></td>
          <td> <p class="text-muted">
            <%= link_to 'Show', transaction %>
            <%= link_to 'Edit', edit_transaction_path(transaction) %>
            <%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
  <%= paginate @transactions %>

 </div>